<!DOCTYPE html>
<html lang="" data-ng-app="myApp">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>  
  <script src="app.js"></script>
  <link href="style.css" rel="stylesheet">
    <h1>Register Page</h1>
</head>
    
<body>
<div  ng-controller="RegisterController">
        
<form>
<table>
  <tr>
    <td>Email ID</td>
    <td><input type="text" name="Email ID" id="Email ID" data-ng-model="Email ID"/></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" name="password" id="password" data-ng-model="password"/></td>
  </tr>
      
</table><br/>
   <button id="register" name="register" ng_click="register(Email ID, password)">Register</button>
    <a href="login.html"><input type="button" value="RETURNLOGIN"/></a>
</form>
   
    <br/>
    <p > </p>
     
</div>
 </body>
</html>